#packer
docker/docker-monolith/infra/packer/variables.json

#terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

#ansible
*.retry
jdauphant.nginx
geerlingguy.docker

#docker
.env
